html {
    font-size: 15px;
}

/****** Nav Bar ******/
#brand-name {
    font-weight: 600;
}
#nav-config{
    background-color: rgb(0, 0, 0) !important;
}

.style-item {
    color: rgb(235, 235, 235) !important;
    font-weight: 500;
}

/*effect - nav*/
a.effect-nav:hover {
    color: rgb(122, 197, 231) !important;
}

/****** Hero Content ******/
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.spacing {
    margin-top: 150px;
    margin-bottom: 500px;
}

#button-1 {
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
}

#enter {
    color: white;
}

#link-button:hover {
    text-decoration: none;
}

#link-button h1:hover {
    color: rgb(122, 197, 231) !important;
}

.link-post {
    color: darkkhaki;
    font-weight: 600;
}

.link-post:hover {
    text-decoration: none;
    color: rgb(122, 197, 231) !important;
}

.main-text {
    font-size: 20px;
}

#logo-hero,
#portfolio,
#about,
#contact {
    padding-top: 100px;
}

.social-button {
    color: rgb(255, 255, 255);
}

.social-button:hover {
    text-decoration: none;
    color: rgb(122, 197, 231);
}
/****** effect img ******/
.img-config figure {
	position: relative;
}
.img-config figure::before {
	position: absolute;
	top: 0;
	left: 0%;
	z-index: 2;
	display: block;
	content: '';
	width: 35%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.130) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.130) 100%);
	-webkit-transform: skewX(-16deg);
	transform: skewX(-16deg);
}
.img-config figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	55% {
		left: 55%;
	}
}
@keyframes shine {
	55% {
		left: 55%;
	}
}
.about-logo figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.about-logo figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}




